.item {
    display: flex;
    justify-content: space-between;
    padding-right: 10 px;
    padding-top: 10px;
    padding-left: 10px;
    
}
.imgname {
    display: inherit;
    justify-content: center;
    align-items: center;
}
.name {
    color:aqua;
}
.img {
    display: inherit;
    justify-content: center;
}