
.radar{
    
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .h{
    color: white;
    border-bottom: 1px solid rgba(187, 176, 176, 0.356);
    padding: 0 235px 20px 0;
  }
  .img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .post{
    
    background-color: rgb(255, 255, 255);;
    padding: 0 20px 0 0;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .nickname {
    font-weight: bold;
    margin-left: 5px;
  }
  .imgnick{
    display: inherit;
    align-items: center;
  }
  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 10px 20px;
  }
  .extra {
    outline: none;
  text-decoration: none;
  }
  .main_part {
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }
  .tags {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .tag {
    margin-right: 10px;
    color:rgb(187, 176, 176)
  }
.foot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}