.search {
    
}
.textarea {
    width: 500px;
    border: 1px solid rgb(97, 121, 153);;
    border-radius: 4px;
    position: absolute;
    resize: none;
    top: 10px;
    left: 65px;
    background-color: rgb(97, 121, 153);
    font-size: 13px;
}