.second {
  
    display: inherit;
    grid-template-rows: 0.9fr 0.1fr;
  }
  .body{
    color:black;
    display: inherit;
    grid-template-columns: 2fr 1fr;
    margin: 0px 100px 0px 100px;
    height: 720px;
  }
  