.dialogs {
    display: grid;
    width: 1000px;
    margin-left: 140px;
    height: 500px;
    grid-template-columns: 2fr 1fr;
}
.conversation {
    background-color: rgba(9, 9, 117, 0.473);
    display: grid;
    grid-template-rows: 1fr 8fr 1fr; 
}
.title { 
    background-color: rgb(255, 255, 255);
    padding: 15px 0px 0px 20px;
    font-weight: 700;
    
}
.messages {
    
}
.ent_mes {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
}
.textarea {
    width: 550px;
    resize: none;
    
}
.list{
    
}